#============= keystore ==============
allow keystore unlabeled:dir search;
allow keystore unlabeled:file { getattr open read };

r_dir_file(keystore, firmware_file)
